body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.root-container {
  width: 400px;
  height: 800px;
  background-color: rgb(241, 249, 255);
  border-radius: 4px;

}
